<mat-toolbar color="primary" class="mat-elevantion-z6">
    <span><mat-icon>flight_takeoff</mat-icon> Bosnia Transfers Tours</span>
<div id="spacer">
    <a mat-button routerLink="home">Home</a>
    <div class="dropdown">
        <a mat-button class="dropbtn">All Tours</a>
        <div class="dropdown-content">
          <a mat-button routerLink="tours">Tours</a>
          <a mat-button routerLink="transfers">Transfers</a>
          <a mat-button routerLink="bosniapackages">Bosnia Packages</a>
          <a mat-button routerLink="balkanpackages">Balkan Packages</a>         
        </div>
      </div>
    <a mat-button routerLink="gallery">Gallery</a>
    <a mat-button routerLink="reviews">Reviews</a>
    <a mat-button routerLink="aboutus">About Us</a>
    <a mat-raised-button color="accent" routerLink="singup">Sing Up</a>
</div>
       
   
</mat-toolbar>